html, body {
	padding: 0;
	margin: 0;
	height: 100%;
}

* {
	font-family: "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
	color: #fff;
	letter-spacing: 1px;
}

body {
	background-color: #181818;
	font-size: 14px;
	min-width: 720px;
}

#nowPlayingBarContainer {
	width: 100%;
    background: #282828;
    bottom: 0;
    position: fixed;
    min-width: 620px;
}

#nowPlayingBar {
    display: flex;
    height: 90px;
    padding: 16px;
    box-sizing: border-box;
}

#nowPlayingLeft,
#nowPlayingRight {
	width: 30%;
	min-width: 180px;
}

#nowPlayingRight {
	position: relative;
	margin-top: 16px;
}

#nowPlayingCenter {
    width: 40%;
    max-width: 700px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#nowPlayingBar .content {
	width: 100%;
	height: 57px;
}

.playerControls .buttons {
	margin: 0 auto;
	display: table;
}

.controlButton {
	background-color: transparent;
	border: none;
	vertical-align: middle;
}

.controlButton img {
	width: 20px;
	height: 20px;
}

.controlButton.play img,
.controlButton.pause img {
	width: 32px;
	height: 32px;
}

.controlButton:hover {
	cursor: pointer;
}

.progressTime {
	color: #a0a0a0;
	font-size: 11px;
	min-width: 40px;
	text-align: center;
}

.playbackBar {
	display: flex;
}

.progressBar {
	width: 100%;
	height: 12px;
	display: inline-flex;
	cursor: pointer;
	margin-top: 3px;
}

.progressBarBackground {
    background-color: #404040;
    height: 4px;
    width: 100%;
    border-radius: 2px;
}

.progress {
	background-color: #a0a0a0;
	height: 4px;
	width: 0;
	border-radius: 2px;
}

.playbackBar .progressBar {
	margin-top: 3px;
}

#nowPlayingLeft .albumArtwork {
	height: 100%;
	max-width: 57px;
	margin-right: 15px;
	float: left;
	background-size: cover;
}

#nowPlayingLeft .trackInfo {
	display: table;
}

#nowPlayingLeft .trackInfo .trackName { /* puts the text on different lines */
    margin: 6px 0;
    display: inline-block;
    width: 100%;
}

#nowPlayingLeft .trackInfo .artistName span {
    font-size: 12px;
    color: #a0a0a0;
}

.volumeBar {
	width: 180px;
	position: absolute;
	right: 0;
}

.volumeBar .progressBar {
	width: 125px;
}

#topContainer {
	min-height: 100%;
	width: 100%;
}

#navBarContainer {
    background-color: #000;
    width: 220px;
    height: 100vh;
    position: fixed;
}

.navBar {
    flex-direction: column;
    padding: 25px;
    display: flex;
    -ms-flex-direction: column;
}

#mainContainer #topContainer #navBarContainer .navBar .logo {
	margin-bottom: 15px;
}

.logo img {
	width: 32px;
}

#topContainer #navBarContainer .navBar .group {
    border-top: 1px solid #a0a0a0;
    padding: 10px 0;
}

#topContainer #navBarContainer .navBar .group .navItem {
    padding: 10px 0;
    font-size: 14px;
    font-weight: 700;
    display: block;
    letter-spacing: 1px;
    position: relative;
}

#topContainer #navBarContainer .navBar .group .navItem .navItemLink {
    color: #a0a0a0;
    text-decoration: none;
}

#topContainer #navBarContainer .navBar .group .navItem .navItemLink:hover {
    color: #ffffff;
}

#topContainer #navBarContainer .navBar .group .navItem .navItemLink .icon {
	width: 25px;
	position: absolute;
	right: 0;
	top: 6px;
}

#topContainer #mainViewContainer {
	margin-left: 220px;
	padding-bottom: 90px;
	width: calc(100% - 220px);
}

#topContainer #mainViewContainer #mainContent {
	padding: 0 20px;
}

#topContainer #mainViewContainer #mainContent .entityInfo {
	padding: 40px 0 10px 0;
	display: inline-block;
	width: 100%;
}

#topContainer #mainViewContainer #mainContent .entityInfo .leftSection {
	width: 30%;
	float: left;
	max-width: 250px;
}

#topContainer #mainViewContainer #mainContent .entityInfo .leftSection img {
	width: 100%;
}

#topContainer #mainViewContainer #mainContent .entityInfo .rightSection {
	width: 70%;
	float: left;
	padding: 5px 10px 5px 40px;
	box-sizing: border-box;
}

#topContainer #mainViewContainer #mainContent .entityInfo .rightSection h2 {
	margin-top: 5px;
}

#topContainer #mainViewContainer #mainContent .entityInfo .rightSection p {
	color: #939393;
	font-weight: 200;
}

.pageHeadingBig {
    padding: 20px;
    text-align: center;
}

.gridViewItem {
	display: inline-block;
	margin-right: 20px;
	margin-bottom: 20px;
	width: 29%;
	max-width: 200px;
	min-width: 150px;
}

.gridViewItem a {
	text-decoration: none;
}

.gridViewItem img {
	width: 100%;
}

.gridViewItem .gridViewInfo {
	font-weight: 300;
	text-align: center;
	padding: 5px 0;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
}

.trackListContainer .trackList {
	padding: 0;
}

.trackListContainer .trackList .trackListRow {
	height: 40px;
	padding: 15px 10px;
	list-style: none;
}

.trackListContainer .trackList .trackListRow span {
	color: #939393;
	font-weight: 200;
}

.trackListContainer .trackList .trackListRow:hover {
	background-color: #282828;
}

.trackListContainer .trackList .trackListRow .trackCount {
	width: 8%;
	float: left;
}

.trackListContainer .trackList .trackListRow .trackCount img {
	width: 20px;
	visibility: hidden;
	position: absolute;
	cursor: pointer;
}

.trackListContainer .trackList .trackListRow:hover .trackCount img {
	visibility: visible;
}

.trackListContainer .trackList .trackListRow .trackCount span {
	visibility: visible;
}

.trackListContainer .trackList .trackListRow:hover .trackCount span {
	visibility: hidden;
}

.trackListContainer .trackList .trackListRow .trackInfo {
	width: 75%;
	float: left;
}

.trackListContainer .trackList .trackListRow .trackInfo span {
	display: block;
}

.trackListContainer .trackList .trackListRow .trackInfo .trackName {
	color: #fff;
	margin-bottom: 7px;
}

.trackListContainer .trackList .trackListRow .trackOptions {
	width: 5%;
	float: left;
	text-align: right;
}

.trackListContainer .trackList .trackListRow .trackOptions img {
	width: 15px;
	visibility: hidden;
}

.trackListContainer .trackList .trackListRow:hover .trackOptions img {
	visibility: visible;
}

.trackListContainer .trackList .trackListRow .trackDuration {
	width: 12%;
	float: left;
	text-align: right;
}
